
.Header{
    width: 100%;
    height: 100%;
    position:relative;

}
img{
    margin-top: 0;
    width: 100%;
    height:100%;
    object-fit:fill;


}
.text{
    position:absolute;
    top: 26%;
    left:8%;
    right: 50%;
    width: 50%;
}

 h1{
    font-size: 4rem;
    font-weight: 800;
    color: #000000;

} 
p{
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.75;
    margin-top: 13%;
    margin-bottom: 1rem;
}
.mail-input{
    height: 10%;
    width: 38%;
    position: absolute;
    top: 72%;
    left: 8%;

}
